body{
			background-color:#f2f3f4   ;


		}
		
		
		img{
            float: left;
            width: 200px;
            height: 200px;
            margin-right: 20px;
            border-radius: 50%;
            animation-name: new, rot;
	    animation-duration: 2s,5s;
            animation-iteration-count: 1,1;	
			
        }
		 header {
            background-color: #85c1e9 ;
            color: white;
            padding: 20px;
            text-align: center;
        }
		section{

			margin-bottom: 120px;
		}
		h2{
			color:#85c1e9 ;
		}
		.luyanda{
            width: 80%;
            margin: 20px auto;
            background-color: white;
            padding: 20px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	    animation-name: new,rot;
            animation-duration: 2s,3s;
            animation-iteration-count:1,1;		
			
        }
        footer{
        	text-align: center;
        	background-color: #b2babb ;
        	font-weight: bold;
        	padding: 30px;
        }
        input{
        	height:30px;
        	font-size: 15px;
        	background-color: white;
        }
        textarea{
        	height:40px;
        	font-size: 15px;
        }
	
	.lulu{
        	animation-name: new, rot;
        	animation-duration: 2s,4s;
        	animation-iteration-count: 1,1;

        }
        @keyframes new{
        	from{transform:translate(100px); }
        }
        @keyframes rot{

        	100%{transform: rotateX(360deg);}

        }	